* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #222;
    color: white;
}

/* HEADER */
.header {
   width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;   
    align-items: center;      
    text-align: center;
}

.logo {
    font-size: 42px;
    color: orange;
    margin-bottom: 30px;
}

.nav a {
    margin: 0 20px;
    text-decoration: none;
    color: orange;
    font-weight: bold;
}
.nav a:hover {
    color: rgb(117, 57, 0);
}

/* HERO */
.hero {
    width: 100%;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.hero-img {
    background-color: #000000;
}

.hero-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    background-color: orange;
    border: none;
    padding: 18px 36px;
    font-size: 18px;
    cursor: pointer;
}

/* NEWS */
.news {
    padding: 60px;
}

.news h2 {
    color: orange;
    font-size: 28px;
    margin-bottom: 30px;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.news-item {
    background-color: #333;
    padding: 15px;
}

.news-img {
    height: 140px;
    background-color: #222;
    margin-bottom: 10px;
}
