* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #222;
    color: white;
}

/* HEADER */
.header {
   width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;   
    align-items: center;      
    text-align: center;
}

.logo {
    font-size: 42px;
    color: orange;
    margin-bottom: 30px;
}

.nav a {
    margin: 0 20px;
    text-decoration: none;
    color: orange;
    font-weight: bold;
}
.nav a:hover {
    color: rgb(117, 57, 0);
}

/* HERO */
.hero {
    position: relative;
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.hero-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-primary {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    z-index: 10;
    padding: 18px 36px;
    font-size: 18px;
    background-color: orange;
    border: none;
    cursor: pointer;
    
    transition: transform 0.3s ease;

    border-radius: 12px;
}
.btn-primary:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

/* dark overlay */
.hero::after {      
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35); 
}

/* NEWS */
.news {
    padding: 60px;
}

.news h2 {
    color: orange;
    font-size: 28px;
    margin-bottom: 30px;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.news-item {
    background-color: #000;
    
}

.news-item:hover {
    transform: scale(1.1);
}
.news-img {
    width: 100%;
    height: 160px;   
    overflow: hidden;
}

.news-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.news-item p {
    padding: 15px;
    font-size: 14px;
}
.footer {
    background-color: #111;
    color: white;
    padding: 60px 20px 20px 20px;
    margin-top: 50px;
    border-top: 2px solid orange;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.footer-logo h2 {
    color: orange;
    margin-bottom: 15px;
}

.footer-links h3, .footer-socials h3 {
    font-size: 18px;
    margin-bottom: 20px;
    color: orange;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: orange;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #333;
    color: orange;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50%;
    transition: 0.3s;
}

.social-icons a:hover {
    background: orange;
    color: black;
}

.footer-bottom {
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #474747;
    font-size: 13px;
    color: #888;
}

.program {
    display: grid;
    /* Tady říkáme: vytvoř 3 sloupce, každý stejně široký (1fr) */
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; /* Mezera mezi kartami */
    padding: 60px;
    max-width: 1200px;
    margin: 0 auto; /* Vycentrování celého bloku na střed */
}

/* JEDNOTLIVÁ KARTA (ITEM) */
.program-item {
    background-color: #111;
    border: 1px solid #333;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 20px;
    transition: transform 0.3s ease;
}

.program-item:hover {
    transform: translateY(-10px); /* Karta při najetí lehce poskočí nahoru */
    border-color: orange;
}

/* OBRÁZEK ARTISTA */
.program-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin-bottom: 15px;
}

.program-item h3 {
    color: orange;
    margin-bottom: 10px;
    padding: 0 15px;
}

.program-item p {
    font-size: 14px;
    color: #ccc;
    padding: 0 15px;
}


.mapa {
    width: 100%;
    max-width: 1000px; /* Aby mapa nebyla až příliš obrovská na PC */
    margin: 40px auto; /* Vycentrování sekce a mezera od hlavičky */
    padding: 0 20px;   /* Mezera od krajů na mobilu */
    text-align: center;
}

.mapa img {
    width: 100%;       /* Roztáhne se na celou šířku kontejneru */
    height: auto;
    border-radius: 20px; /* Zaoblené rohy vypadají u mapy skvěle */
    border: 2px solid orange;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5); /* Trocha hloubky */
}

/* SEKCE INFO */
.info {
    text-align: center;
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
}

.info h2 {
    color: orange;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.info h3 {
    font-weight: normal;
    margin-bottom: 10px;
    color: #925800;
}


.vstupenky-sekce {
    padding: 60px 20px;
    display: flex;
    justify-content: center;
}

.form-container {
    background-color: #111;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid #333;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.form-container h2 {
    color: orange;
    margin-bottom: 10px;
}

.form-container p {
    color: #888;
    margin-bottom: 30px;
    font-size: 14px;
}

.vstupenky-form {
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: orange;
    font-size: 14px;
    font-weight: bold;
}

.form-group input, 
.form-group select {
    width: 100%;
    padding: 12px;
    background-color: #222;
    border: 1px solid #444;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

.form-group input:focus, 
.form-group select:focus {
    border-color: orange;
}

.btn-submit {
    width: 100%;
    padding: 15px;
    background-color: orange;
    color: black;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.btn-submit:hover {
    background-color: rgb(200, 110, 0);
    transform: translateY(-2px);
}
/* RESPONZIVITA*/

/* TABLET */
@media (max-width: 1024px) {
    .news-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .news {
        padding: 40px 20px;
    }
    .program {
        grid-template-columns: repeat(2, 1fr);
        padding: 40px;
    }
}

/* MOBIL */
@media (max-width: 768px) {
    .logo {
        font-size: 32px;
        margin-bottom: 20px;
    }
    
    .nav a {
        margin: 0 10px;
        font-size: 14px;
    }

    .hero {
        grid-template-columns: 1fr; 
        height: auto;
    }

    .hero-img {
        height: 250px;
    }

    .btn-primary {
        width: 80%;
        text-align: center;
        white-space: nowrap;
    }

    .news-grid {
        grid-template-columns: 1fr; 
    }

    .news-item:hover {
        transform: none; 
    }
    .footer-content {
        grid-template-columns: 1fr;
        text-align: center;
    }
    
    .footer-socials .social-icons {
        display: flex;
        justify-content: center;
    }

    .program {
        grid-template-columns: 1fr; 
        padding: 20px;
    }
    .mapa {
        margin: 20px auto;
    }
    .info h2 {
        font-size: 20px;
    }
    .form-container {
        padding: 25px;
    }
}